body {
    background-color: #d2fdff;
    padding: 0%;
    margin: 0%;
    height: 100%;
}

.Header {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10000;
}

.icons {
    height: 70px;
    width: 70px;
    margin: 10px;
}

.input {
    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
    overflow: hidden;
    height: 6vh;
    width: fit-content;
    display: flex;
    align-items: center;

    background-color: gray;
}

.inputField {
    height: 6vh;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    background-color: gray;
    cursor: pointer;

}

.inputSubmit {
    height: 6vh;
    width: 6vh;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("./Assets/Search.png");
}

.searchIcon {
    height: 4vh;
    width: 4vh;
    outline: none;
    cursor: pointer;
}

.menu {
    height: 300px;
    width: 15vh;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 9999;
}

.buttonClass {
    height: 10vh;
    width: 100px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 5vh;
}

.collapse {
    width: 100px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

.mainEventBody {
    display: grid;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    row-gap:10px;
    column-gap: 10px;
    overflow: hidden;
    height:min-content;
}

.characterContainer {
    width: 90%;
    height: 200px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #7cd3ff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.containerTitle {
    font-size: 20px;
    font-weight: bold;
}

.containerCharactersContainer {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    
}

.goButton {
    height: 125px;
    width: 5%;
}

.characters {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.characterBox {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 300px;
    width: 250px;
    text-align: center;
    overflow: hidden;
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
    border: 3px solid black;

}

.characterImage {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.goToBtn {
    width: 250px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: #000000 solid 3px;
}

.genericButton {
    width: 30px;
    height: 30px;
    font-size: larger;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: #000000 solid 3px;
}

.name {
    border: #000000 5px solid;
}

.aboutBody {
    display: flex;
    align-items: center;
    justify-content: center;
}

.themeDark {
    color: white;
    border: solid 3px whitesmoke;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 15px 20px, rgba(230, 230, 230, 0.22) 0px 15px 12px;
}

